<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
			http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-3.1.xsd
			http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd"
	default-lazy-init="true">

	<description>thrift服务</description>
	
	<bean id="userServiceImpl" class="thrift.service.impl.UserServiceImpl" />
	
	<util:list id="thriftServerList">
		<ref bean="userProxy01" />
		<ref bean="userProxy02" />
	</util:list>
	
	<bean id="userProxy01" class="thrift.proxy.ThriftServerProxy">
		<property name="port" value="7911"/>
		<property name="serviceInterface" value="thrift.service.UserService"/>
		<property name="serviceImplObject" ref="userServiceImpl"/>	
	</bean>
	
	
	<bean id="userProxy02" class="thrift.proxy.ThriftServerProxy">
		<property name="port" value="7910"/>
		<property name="serviceInterface" value="thrift.service.UserService"/>
		<property name="serviceImplObject" ref="userServiceImpl"/>	
	</bean>
	
	
	
	
	
</beans>
